@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
*{
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 775px){
  .header{
    height: auto;
    width: 100%;
    padding: 2% 0 2% 2%;
    background-color: yellow;
  }
  .header .header_logo{
    height: auto;
    width: 15%;
    background-color: white;
  }
  .header .header_title h1{
    font-size: 3rem;
  }
  .header .header_menu a{
    font-size: 1.5rem;
    margin-right: 25%;
  }
}
.header{
  height: auto;
  width: 100%;
  display: flex;
  background-color: tomato;
  justify-content: space-between;
}
.header_logo{
  height: auto;
  width: 10%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 50%;
  margin-left: 0.3%;
  padding: 0 0 2% 0;
  background-color: powderblue;
}
.header_logo img{
  height: auto;
  width: 100%;
}
.header_title{
  display: flex;
  align-items: center;
}
.header_title h1{
  text-align: center;
  font-size: 4.5rem;
  font-family: "Barrio";
}
.header_menu{
  height: auto;
  width: 12.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1%;
}
.header_menu a{
  font-size: 1.8rem;
  color: black;
  font-family: "Flamenco";
}
