.parent_view{
    height: auto;
    width: 100%;
    background-color: blueviolet;
}
.main_view1{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
img{
    height: 700px;
    width: 95%;
    object-fit: cover;
}